body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.smallTitle {
    text-align: center;
    font-size: small;
    font-family: "Inter";
    font-size: 14px;
    font-weight: medium;
}

.bigTitle {
    text-align: center;
    font-size: large;
    font-family: "Inter";
    font-size: 34px;
    font-weight: bold;
}

.container {
    margin: 0 auto;
}